/** @format */

$header: 56px;
$footer: 65px;

.layout-Basic {
    &-height {
        min-height: 100vh;
        position: fixed;
        z-index: 1;
    }
    &-header {
    }

    &-main {
        min-height: calc(100dvh - $header - $footer);
    }

    &-footer {
        height: $footer;
        &-active {
            position: absolute;
            width: inherit;
            height: inherit;
            animation: activeFooter 0.8s;
            @keyframes activeFooter {
                0% {
                    width: 0px;
                    height: 0px;
                }
                100% {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}
